<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
<h1>EJS 渲染的页面</h1>
<hr>
<h3>姓名：<%= name %></h3>
<h3>昵称：<%= nickname %></h3>
<h3>性别：<%= gender %></h3>
<h3>年龄：<%= age %></h3>
<hr>
<% hobby.forEach(item=>{ %>
  <p><%= item %></p>
  <% }) %>
</body>

</html>